/* Documento CSS */

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Nunito:wght@200&family=Poppins:wght@300&family=Righteous&family=Roboto+Slab&family=Rubik:wght@300&family=Sarala&display=swap');

body {
    font-family:'Nunito', sans-serif;
    font-size:18px;
    box-sizing:border-box;
    /*background-color:#ededed;*/
}

:root {
    --color1:#e4e4e4;
    --color2:#41b3d3;
    --color3:#61d2dc;
    --color4:#444444;
}

.fa:hover {
    opacity:0.7;
}

.fa-linkedin {
    background:var(--color4);
    color:var(--color1);
}

.fa-envelope {
    background:var(--color4);
    color:var(--color1);
}

.fa-telegram {
    background:var(--color4);
    color:var(--color1);
}

.fa-github {
    background: #000000;
    color: white;
}

#navbar {
    /*-webkit-box-shadow: 0px 3px 12px 3px rgba(68,68,68,0.42); 
    box-shadow: 0px 3px 12px 3px rgba(68,68,68,0.42);*/

    position:fixed;
    width:100%;
    top:0;
    z-index:15px;
    display:block;
    background-color:rgb(255, 255, 255);
    transition:top 0.3s;
}

#logo_navbar > img {
    object-fit:cover;
    width:100%;
}

#logo_anchor {
    cursor:pointer;
}

#button_menu {
    width:100px;
    height:100%;
    font-size:30px;
    background-color:inherit;
}

#image > img {
    object-fit:cover;
    width:100%;
}

#description > p {
    text-align:justify;
}

#dropdown_content {
    position:absolute;
    width:100%; /*30%*/
    height:0px; /*450px*/
    border-top:1px solid var(--color1);
    z-index:10;
    background-color:#ffffff;
    -webkit-box-shadow: 4px 9px 11px 2px rgba(68,68,68,0.3); 
    box-shadow: 4px 9px 11px 2px rgba(68,68,68,0.3);
    transition:0.5s;
    overflow-y:hidden;
}

#dropdown_content > ul li {
    list-style-type:none;
    padding:20px 16px;
    border-bottom:1px solid var(--color1);
    cursor:pointer;
    transition:all 0.3s;
}

#dropdown_content > ul li > a {
    text-decoration:none;
    color:rgb(0, 0, 0);
}

#dropdown_content > ul li:hover {
    background-color:var(--color1);
}

/*#content_body {
    background-color:#ededed;
}*/

#gallery_content {
    text-align:justify;
    padding:8px;
}

#example {
    background-color:#44444425;
    /*border-radius:10px;*/
}

/*.disappear_ {
    height:0 !important;
}*/

.appear_ {
    height:213px !important;
}

.listMenu {
    display:none;
}

.sticky {
    position:fixed;
    top:0;
    z-index:15;
    background-color:rgb(255, 255, 255);
    width:100%;
}

.sticky + .content_body {
    padding-top:90px;
}

#button--2 {
    width:120px;
    height:60px;
    border:1px solid var(--color1);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#scroll_indicator {
    width:6px;
    height:0;
    background-color:var(--color4);
    position:fixed;
    z-index:16;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#footer {
    background-color:var(--color4);
}

/*#footer_content {
    height:90px !important;
    background-color:var(--color4);
}*/

#footer_content {
    height:250px !important;
    background-color:var(--color4);
    margin:0 auto;
    border:1px solid var(--color4);
}

#footer_content > div {
    margin-top:10px !important;
    /*border:1px solid black;*/
    text-align:center;
}

#footer_content > .contatos {
    margin-top:20px !important;
    /*border:1px solid black;*/
    text-align:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#footer_content > .contatos > p {
    font-size:20px;
    color:#e4e4e4;
}

#footer_content > div > .fa {
    font-size:50px;
    color:#e4e4e4;
    width:60px;
    cursor:pointer;
}

@media screen and (max-width:1202px) {
    #gallery_content {
        /*border:1px solid blue;*/
        width:100% !important;
    }

    #gallery_article {
        display:flex;
        flex-direction: column;
        /*border:1px solid red;*/
        width:auto !important;
    }

    #image {
        /*border:1px solid blue;*/
        align-self:center;
    }

    #description {
        /*border:1px solid blue;*/
        width:75% !important;
        align-self:center;
    }

    #dropdown_content {
        width:100% !important;
    }

    #topBtn {
        display:none;
    }
}

@media screen and (max-width:1090px) {
    #logo_navbar {
        height:90px !important;
    }

    #logo_navbar > img{
        display:none;
    }

    /*#empty_div {
        border:1px solid black;
    }*/

    #empty_div > img {
        display:block !important;
        object-fit:cover;
    }
    
}